<?xml version="1.0"?>
<launch>
	<!-- Extended kalman filter node -->
	<node pkg="EKF" type="ekf" name="ekf_node"></node>

	<!-- Data visualizer node -->
	<node pkg="EKF" type="data_visualizer.py" name="visualizer" output="screen"></node>

	<!-- Play the desire rosbag file -->
	<node pkg="rosbag" type="play" name="player" output="screen" args="--clock $(find EKF)/bags/2020-02-17-11-34-35.bag"/>

</launch>