<?xml version="1.0"?>
<launch>
	<!-- Extended kalman filter node -->
	<node pkg="EKF" type="ekf" name="ekf_node"></node>

	<!-- Data visualizer node -->
	<node pkg="EKF" type="blueROV_state_ui.py" name="visualizer" output="screen"></node>

	<!-- Play the desire rosbag file -->
	<node pkg="rosbag" type="play" name="player" output="screen" args="--clock $(find EKF)/bags/2018-10-26-15-43-56.bag"/>

</launch>